/* Assets */
p {
  margin-top: 0;
  margin-bottom: 0;
}

h1 {
  font-family: "ITCSouvenir-md";
  font-weight: 300 !important;
  font-size: 42px !important;
  line-height: 125% !important;
  color: #191919 !important;
  padding-bottom: 24px;
}
h1 span {
  font-style: italic;
  color: #942C5E;
}

h2 {
  font-family: "ITCSouvenir-md";
  font-weight: 300 !important;
  font-size: 36px !important;
  line-height: 150% !important;
  color: #000 !important;
}

h3 {
  font-family: "ITCSouvenir-md";
  font-weight: 300 !important;
  font-size: 28px !important;
  line-height: 150% !important;
  color: #88154C !important;
}

.btn_green {
  font-family: "Instrument Sans";
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #E9EEED;
  background: #4F756C;
  border-radius: 100px;
  border: 1px solid transparent;
  padding: 12px 22px;
  transition: 0.25s all ease-in-out; /* Ajout de la transition */
}
.btn_green:hover {
  filter: brightness(90%);
}

.btn_transparent {
  font-family: "Instrument Sans";
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #191919;
  background: transparent;
  border-radius: 100px;
  border: 1px solid #191919;
  padding: 12px 22px;
  transition: 0.25s all ease-in-out; /* Ajout de la transition */
}
.btn_transparent:hover {
  background: rgba(223, 222, 222, 0.2666666667);
}

.btn_full_transparent {
  font-family: "Instrument Sans";
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #191919;
  background: transparent;
  border-radius: 100px;
  border: 0px solid #191919;
  padding: 12px 22px;
  transition: 0.25s all ease-in-out; /* Ajout de la transition */
}
.btn_full_transparent:hover {
  background-color: rgba(25, 25, 25, 0.08);
}

@font-face {
  font-family: "ITCSouvenir-md";
  src: url("../font/SouvenirStd-Light.eot");
  src: url("../font/SouvenirStd-Light.eot?#iefix") format("embedded-opentype"), url("../font/SouvenirStd-Light.woff2") format("woff2"), url("../font/SouvenirStd-Light.woff") format("woff"), url("../font/SouvenirStd-Light.ttf") format("truetype"), url("../font/SouvenirStd-Light.svg#SouvenirStd-Light") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* Components */
footer {
  background-color: #191919;
}
footer .newsletter h5 {
  font-family: "ITCSouvenir-md";
  font-weight: 300 !important;
  font-size: 2rem !important;
  line-height: 44px !important;
  color: #FCFAF7 !important;
}
@media (max-width: 767.98px) {
  footer .newsletter h5 {
    font-family: "ITCSouvenir-md";
    font-weight: 300 !important;
    font-size: 24px !important;
    line-height: 32px !important;
    color: #FCFAF7 !important;
  }
}
footer .newsletter p {
  font-family: "Instrument Sans", sans-serif;
  font-weight: 300 !important;
  font-size: 18px !important;
  line-height: 28px !important;
  color: #FCFAF7 !important;
}
@media (max-width: 767.98px) {
  footer .newsletter p {
    font-family: "Instrument Sans", sans-serif;
    font-weight: 300 !important;
    font-size: 14px !important;
    line-height: 20px !important;
    color: #FCFAF7 !important;
  }
}
footer .newsletter input {
  height: 48px;
  border-radius: 100px;
  border: 1px solid #7E7D7C;
  background-color: transparent;
  padding-bottom: 10px;
}
footer .newsletter input::placeholder {
  font-family: "Instrument Sans", sans-serif;
  font-weight: 300 !important;
  font-size: 14px !important;
  line-height: 20px !important;
  color: #FCFAF7 !important;
  padding-left: 10px;
}
footer .newsletter button {
  font-family: "Instrument Sans";
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #323231;
  background: #fff;
  border-radius: 100px;
  border: 0px solid transparent;
  padding: 12px 22px;
  margin-left: 6px;
  width: 406px;
}
@media (max-width: 991.98px) {
  footer .newsletter button {
    margin-left: 0px;
  }
}
footer .row:nth-child(2) h5 {
  font-family: "Instrument Sans", sans-serif;
  font-weight: 600 !important;
  font-size: 14px !important;
  line-height: 150% !important;
  color: #CAC8C6 !important;
}
footer .row:nth-child(2) a, footer .row:nth-child(2) p {
  font-family: "Instrument Sans", sans-serif;
  font-weight: 400 !important;
  font-size: 16px !important;
  line-height: 24px !important;
  color: #FCFAF7 !important;
}
@media (max-width: 767.98px) {
  footer .row:nth-child(2) a, footer .row:nth-child(2) p {
    font-family: "Instrument Sans", sans-serif;
    font-weight: 400 !important;
    font-size: 14px !important;
    line-height: 20px !important;
    color: #FCFAF7 !important;
  }
}
footer hr {
  color: #656463;
}
@media (max-width: 767.98px) {
  footer form button {
    margin-top: 14px;
    width: 100% !important;
  }
}

/* Block d'information */
#header-info {
  font-family: "Instrument Sans", sans-serif;
  font-weight: 400 !important;
  font-size: 16px !important;
  line-height: 20px !important;
  color: #fff !important;
  background: #A04470;
  padding-top: 8px;
  padding-bottom: 8px;
}
#header-info .calendar {
  width: 24px;
}
#header-info span {
  font-family: "Instrument Sans", sans-serif;
  font-weight: 500 !important;
  font-size: 16px !important;
  line-height: 20px !important;
  color: #fff !important;
}
#header-info a {
  font-family: "Instrument Sans", sans-serif;
  font-weight: 600 !important;
  font-size: 16px !important;
  line-height: 20px !important;
  color: #fff !important;
}

/* Barre de navigation (sans le block d'information) */
header .navbar {
  font-family: "Instrument Sans", sans-serif;
  font-weight: 400 !important;
  font-size: 16px !important;
  line-height: 150% !important;
  color: #191919 !important;
  max-width: 1320px;
  background: linear-gradient(0deg, rgba(227, 225, 222, 0.3), rgba(227, 225, 222, 0.3)), rgba(251, 248, 244, 0.6);
  backdrop-filter: blur(4px); /* Standard syntax */
  -webkit-backdrop-filter: blur(4px); /* Chrome, Safari, Opera */
  backdrop-filter: blur(4px) brightness(90%); /* Firefox */
  padding: 12px 16px;
  margin-top: 22px;
  border-radius: 5000px;
}
@media (max-width: 991.98px) {
  header .navbar {
    padding: 16px 20px;
  }
}
@media (max-width: 991.98px) {
  header .navbar {
    margin-top: 20px;
  }
}
header .navbar #navbar-connect {
  font-family: "Instrument Sans", sans-serif;
  font-weight: 500 !important;
  font-size: 16px !important;
  line-height: 150% !important;
  color: #191919 !important;
}
header .navbar a #navbar-logo {
  width: 100%;
  height: 25px;
}
header .navbar .navbar-link a {
  padding: 0 1vw;
}
header .navbar .container-fluid .d-flex:nth-child(3) a:nth-child(2) {
  font-family: "Instrument Sans", sans-serif;
  font-weight: 400 !important;
  font-size: 16px !important;
  line-height: 150% !important;
  color: #fff !important;
  background: #4F756C;
  padding: 12px 22px;
}

/* Pages */
/* First container */
#homepage-plateforme {
  overflow-x: hidden;
  overflow-y: hidden;
  padding: 15vh 0 8vh 0;
}
@media (max-width: 991.98px) {
  #homepage-plateforme {
    padding: 12vh 0 4vh 0;
  }
}
#homepage-plateforme .header-background {
  position: absolute;
  top: -250px;
  right: -6rem;
  z-index: -1;
  border-radius: 0px 0px 0px 24px;
  background: url(./../img/bg.png), rgba(227, 225, 222, 0.2274509804);
  background-blend-mode: DIFFERENCE, NORMAL;
}
@media (max-width: 991.98px) {
  #homepage-plateforme .header-background {
    display: none;
  }
}
#homepage-plateforme h1 {
  font-family: "ITCSouvenir-md";
  font-weight: 300 !important;
  font-size: 2.625rem !important;
  line-height: 125% !important;
  color: #191919 !important;
}
@media (max-width: 767.98px) {
  #homepage-plateforme h1 {
    font-family: "ITCSouvenir-md";
    font-weight: 300 !important;
    font-size: 28px !important;
    line-height: 130% !important;
    color: #191919 !important;
  }
}
#homepage-plateforme h1 + p {
  font-family: "Instrument Sans", sans-serif;
  font-weight: 400 !important;
  font-size: 18px !important;
  line-height: 28px !important;
  color: #4C4B4A !important;
  padding-bottom: 40px;
}
@media (max-width: 767.98px) {
  #homepage-plateforme h1 + p {
    font-family: "Instrument Sans", sans-serif;
    font-weight: 400 !important;
    font-size: 16px !important;
    line-height: 160% !important;
    color: #4C4B4A !important;
  }
}
#homepage-plateforme .btn_green {
  margin-right: 16px;
  margin-bottom: 52px;
}
@media (max-width: 767.98px) {
  #homepage-plateforme .btn_green {
    margin-bottom: 14px;
  }
}
#homepage-plateforme .column-gap-4 {
  font-family: "Instrument Sans", sans-serif;
  font-weight: 400 !important;
  font-size: 14px !important;
  line-height: 20px !important;
  color: #656463 !important;
}
@media (max-width: 767.98px) {
  #homepage-plateforme .plateforme-btn button {
    width: 100%;
  }
}

/* Second container */
.homepage-description {
  padding: 10vh 0;
}
@media (max-width: 991.98px) {
  .homepage-description {
    padding: 4vh 0;
  }
}
.homepage-description .sub-title {
  font-family: "Instrument Sans", sans-serif;
  font-weight: 600 !important;
  font-size: 16px !important;
  line-height: 24px !important;
  color: #33788d !important;
  text-transform: uppercase;
}
@media (max-width: 767.98px) {
  .homepage-description .sub-title {
    font-family: "Instrument Sans", sans-serif;
    font-weight: 600 !important;
    font-size: 14px !important;
    line-height: 150% !important;
    color: #33788d !important;
  }
}
.homepage-description h3 {
  font-family: "ITCSouvenir-md";
  font-weight: 300 !important;
  font-size: 36px !important;
  line-height: 150% !important;
  color: #000 !important;
}
@media (max-width: 767.98px) {
  .homepage-description h3 {
    font-family: "ITCSouvenir-md";
    font-weight: 300 !important;
    font-size: 24px !important;
    line-height: 150% !important;
    color: #191919 !important;
  }
}
.homepage-description .sub-text {
  font-family: "Instrument Sans", sans-serif;
  font-weight: 400 !important;
  font-size: 18px !important;
  line-height: 32px !important;
  color: #323231 !important;
}
@media (max-width: 767.98px) {
  .homepage-description .sub-text {
    font-family: "Instrument Sans", sans-serif;
    font-weight: 400 !important;
    font-size: 16px !important;
    line-height: 175% !important;
    color: #323231 !important;
  }
}
.homepage-description a {
  font-family: "Instrument Sans", sans-serif;
  font-weight: 500 !important;
  font-size: 18px !important;
  line-height: 28px !important;
  color: #33788d !important;
}

/* Third container */
.homepage-tabs {
  padding: 10vh 0 10vh 0;
  /* Mettre en variable globale */
  background: rgba(243, 232, 237, 0.5);
}
@media (max-width: 991.98px) {
  .homepage-tabs {
    padding: 4rem 0;
  }
  .homepage-tabs .img-fluid {
    width: 100%;
  }
}
.homepage-tabs p {
  font-family: "Instrument Sans", sans-serif;
  font-weight: 400 !important;
  font-size: 16px !important;
  line-height: 28px !important;
  color: #323231 !important;
}
@media (max-width: 767.98px) {
  .homepage-tabs p {
    font-family: "Instrument Sans", sans-serif;
    font-weight: 400 !important;
    font-size: 16px !important;
    line-height: 160% !important;
    color: #323231 !important;
  }
}
.homepage-tabs h3 {
  font-family: "ITCSouvenir-md";
  font-weight: 300 !important;
  font-size: 36px !important;
  line-height: 42px !important;
  color: #000 !important;
}
@media (max-width: 767.98px) {
  .homepage-tabs h3 {
    font-family: "Instrument Sans", sans-serif;
    font-weight: 400 !important;
    font-size: 24px !important;
    line-height: 150% !important;
    color: #000 !important;
  }
}
.homepage-tabs .sub-title {
  font-family: "Instrument Sans", sans-serif;
  font-weight: 600 !important;
  font-size: 16px !important;
  line-height: 24px !important;
  color: #A04470 !important;
  text-transform: uppercase;
}
@media (max-width: 767.98px) {
  .homepage-tabs .sub-title {
    font-family: "Instrument Sans", sans-serif;
    font-weight: 600 !important;
    font-size: 14px !important;
    line-height: 150% !important;
    color: #A04470 !important;
  }
}
.homepage-tabs .tab-1, .homepage-tabs .tab-2, .homepage-tabs .tab-3 {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 16px;
}
.homepage-tabs .tab-1 h4, .homepage-tabs .tab-2 h4, .homepage-tabs .tab-3 h4 {
  font-family: "ITCSouvenir-md";
  font-weight: 300 !important;
  font-size: 28px !important;
  line-height: 42px !important;
  color: #323231 !important;
  margin-bottom: 0;
}
@media (max-width: 767.98px) {
  .homepage-tabs .tab-1 h4, .homepage-tabs .tab-2 h4, .homepage-tabs .tab-3 h4 {
    font-family: "ITCSouvenir-md";
    font-weight: 300 !important;
    font-size: 22px !important;
    line-height: 150% !important;
    color: #323231 !important;
  }
}
.homepage-tabs .active {
  /* Mettre en variable globale */
  border: 1px solid rgba(0, 0, 0, 0);
  background-color: rgba(231, 208, 219, 0.3);
}
.homepage-tabs .active h4 {
  font-family: "ITCSouvenir-md";
  font-weight: 300 !important;
  font-size: 28px !important;
  line-height: 42px !important;
  color: #88154C !important;
}
@media (max-width: 767.98px) {
  .homepage-tabs .active h4 {
    font-family: "ITCSouvenir-md";
    font-weight: 300 !important;
    font-size: 22px !important;
    line-height: 150% !important;
    color: #88154C !important;
  }
}

/* Fifth container */
.homepage-ressources {
  padding: 10vh 0 10vh 0;
  overflow-x: auto;
}
@media (max-width: 767.98px) {
  .homepage-ressources {
    padding: 4rem 0 2rem 0;
  }
}
.homepage-ressources h3 {
  font-family: "ITCSouvenir-md";
  font-weight: 300 !important;
  font-size: 36px !important;
  line-height: 150% !important;
  color: #191919 !important;
}
@media (max-width: 767.98px) {
  .homepage-ressources h3 {
    font-family: "ITCSouvenir-md";
    font-weight: 300 !important;
    font-size: 24px !important;
    line-height: 150% !important;
    color: #191919 !important;
    width: 100% !important;
  }
}
.homepage-ressources .sub-title {
  font-family: "Instrument Sans", sans-serif;
  font-weight: 600 !important;
  font-size: 16px !important;
  line-height: 24px !important;
  color: #33788d !important;
  text-transform: uppercase;
}
@media (max-width: 767.98px) {
  .homepage-ressources .sub-title {
    font-family: "Instrument Sans", sans-serif;
    font-weight: 600 !important;
    font-size: 14px !important;
    line-height: 150% !important;
    color: #33788d !important;
  }
}
.homepage-ressources .col {
  background: linear-gradient(129deg, rgba(227, 225, 222, 0.6) 0%, rgba(227, 225, 222, 0) 100%);
  border-radius: 16px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.homepage-ressources .col h5 {
  font-family: "ITCSouvenir-md";
  font-weight: 300 !important;
  font-size: 24px !important;
  line-height: 36px !important;
  color: #191919 !important;
}
@media (max-width: 767.98px) {
  .homepage-ressources .col h5 {
    font-family: "ITCSouvenir-md";
    font-weight: 300 !important;
    font-size: 22px !important;
    line-height: 150% !important;
    color: #191919 !important;
  }
}
.homepage-ressources .col p {
  font-family: "Instrument Sans", sans-serif;
  font-weight: 400 !important;
  font-size: 16px !important;
  line-height: 28px !important;
  color: #323231 !important;
}
@media (max-width: 767.98px) {
  .homepage-ressources .col p {
    font-family: "Instrument Sans", sans-serif;
    font-weight: 400 !important;
    font-size: 16px !important;
    line-height: 160% !important;
    color: #323231 !important;
  }
}
@media (max-width: 767.98px) {
  .homepage-ressources .container {
    overflow: auto;
    padding-bottom: 32px;
  }
  .homepage-ressources .row {
    width: 900px;
    overflow-x: auto;
  }
}
.homepage-ressources .image-box {
  border-radius: 16px;
  width: 58px;
}
.homepage-ressources .col:first-child .image-box {
  background-color: #80abb8;
}
.homepage-ressources .col:nth-child(2) .image-box {
  background-color: #C48AA6;
}
.homepage-ressources .col:nth-child(3) .image-box {
  background-color: #91A9A3;
}

/* Fourth container */
.homepage-avantage {
  padding: 10vh 0 10vh 0;
  /* Mettre en variable globale */
  background: url(./../img/bg_colors.png), #235247;
}
@media (max-width: 767.98px) {
  .homepage-avantage {
    padding: 4rem 0;
  }
}
.homepage-avantage p {
  font-family: "Instrument Sans", sans-serif;
  font-weight: 400 !important;
  font-size: 16px !important;
  line-height: 28px !important;
  color: #FCFAF7 !important;
}
.homepage-avantage h3 {
  font-family: "ITCSouvenir-md";
  font-weight: 300 !important;
  font-size: 36px !important;
  line-height: 42px !important;
  color: #FCFAF7 !important;
}
@media (max-width: 767.98px) {
  .homepage-avantage h3 {
    font-family: "ITCSouvenir-md";
    font-weight: 300 !important;
    font-size: 24px !important;
    line-height: 150% !important;
    color: #FCFAF7 !important;
  }
}
.homepage-avantage .sub-title {
  font-family: "Instrument Sans", sans-serif;
  font-weight: 600 !important;
  font-size: 16px !important;
  line-height: 24px !important;
  color: #FCFAF7 !important;
  text-transform: uppercase;
}
@media (max-width: 767.98px) {
  .homepage-avantage .sub-title {
    font-family: "Instrument Sans", sans-serif;
    font-weight: 600 !important;
    font-size: 16px !important;
    line-height: 150% !important;
    color: #FCFAF7 !important;
  }
}
.homepage-avantage .position-absolute {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.homepage-avantage .productivity {
  background-color: #f3e8ed;
  border-radius: 16px;
}
.homepage-avantage .productivity .sub-title {
  font-family: "Instrument Sans", sans-serif;
  font-weight: 600 !important;
  font-size: 16px !important;
  line-height: 24px !important;
  color: #A04470 !important;
}
@media (max-width: 991.98px) {
  .homepage-avantage .productivity .sub-title {
    font-family: "Instrument Sans", sans-serif;
    font-weight: 600 !important;
    font-size: 14px !important;
    line-height: 150% !important;
    color: #A04470 !important;
    text-align: center;
  }
}
.homepage-avantage .productivity h5 {
  font-family: "ITCSouvenir-md";
  font-weight: 300 !important;
  font-size: 24px !important;
  line-height: 36px !important;
  color: #191919 !important;
}
@media (max-width: 991.98px) {
  .homepage-avantage .productivity h5 {
    font-family: "ITCSouvenir-md";
    font-weight: 300 !important;
    font-size: 22px !important;
    line-height: 150% !important;
    color: #191919 !important;
    text-align: center;
  }
}
.homepage-avantage .productivity p {
  font-family: "Instrument Sans", sans-serif;
  font-weight: 400 !important;
  font-size: 16px !important;
  line-height: 24px !important;
  color: #323231 !important;
}
.homepage-avantage .quality {
  background-color: #DBEDF5;
  border-radius: 16px;
}
.homepage-avantage .quality .sub-title {
  font-family: "Instrument Sans", sans-serif;
  font-weight: 600 !important;
  font-size: 16px !important;
  line-height: 24px !important;
  color: #19677f !important;
}
@media (max-width: 991.98px) {
  .homepage-avantage .quality .sub-title {
    font-family: "Instrument Sans", sans-serif;
    font-weight: 600 !important;
    font-size: 14px !important;
    line-height: 150% !important;
    color: #19677f !important;
    text-align: center;
  }
}
.homepage-avantage .quality h5 {
  font-family: "ITCSouvenir-md";
  font-weight: 300 !important;
  font-size: 24px !important;
  line-height: 36px !important;
  color: #191919 !important;
}
@media (max-width: 991.98px) {
  .homepage-avantage .quality h5 {
    font-family: "ITCSouvenir-md";
    font-weight: 300 !important;
    font-size: 22px !important;
    line-height: 150% !important;
    color: #191919 !important;
    text-align: center;
  }
}
.homepage-avantage .quality p {
  font-family: "Instrument Sans", sans-serif;
  font-weight: 400 !important;
  font-size: 16px !important;
  line-height: 24px !important;
  color: #323231 !important;
}
.homepage-avantage .patients {
  background-color: #65867E;
  border-radius: 16px;
}
.homepage-avantage .patients .sub-title {
  font-family: "Instrument Sans", sans-serif;
  font-weight: 600 !important;
  font-size: 16px !important;
  line-height: 24px !important;
  color: #D3DCDA !important;
}
@media (max-width: 991.98px) {
  .homepage-avantage .patients .sub-title {
    font-family: "Instrument Sans", sans-serif;
    font-weight: 600 !important;
    font-size: 14px !important;
    line-height: 150% !important;
    color: #D3DCDA !important;
    text-align: center;
  }
}
.homepage-avantage .patients h5 {
  font-family: "ITCSouvenir-md";
  font-weight: 300 !important;
  font-size: 24px !important;
  line-height: 36px !important;
  color: #FCFAF7 !important;
}
@media (max-width: 991.98px) {
  .homepage-avantage .patients h5 {
    font-family: "ITCSouvenir-md";
    font-weight: 300 !important;
    font-size: 22px !important;
    line-height: 150% !important;
    color: #FCFAF7 !important;
    text-align: center;
  }
}
.homepage-avantage .patients p {
  font-family: "Instrument Sans", sans-serif;
  font-weight: 400 !important;
  font-size: 16px !important;
  line-height: 24px !important;
  color: #FCFAF7 !important;
}
.homepage-avantage .tools {
  background-color: #D3DCDA;
  border-radius: 16px;
}
.homepage-avantage .tools .sub-title {
  font-family: "Instrument Sans", sans-serif;
  font-weight: 600 !important;
  font-size: 16px !important;
  line-height: 24px !important;
  color: #4F756C !important;
}
@media (max-width: 991.98px) {
  .homepage-avantage .tools .sub-title {
    font-family: "Instrument Sans", sans-serif;
    font-weight: 600 !important;
    font-size: 14px !important;
    line-height: 150% !important;
    color: #4F756C !important;
    text-align: center;
  }
}
.homepage-avantage .tools h5 {
  font-family: "ITCSouvenir-md";
  font-weight: 300 !important;
  font-size: 24px !important;
  line-height: 36px !important;
  color: #191919 !important;
}
@media (max-width: 991.98px) {
  .homepage-avantage .tools h5 {
    font-family: "ITCSouvenir-md";
    font-weight: 300 !important;
    font-size: 22px !important;
    line-height: 150% !important;
    color: #191919 !important;
    text-align: center;
  }
}
.homepage-avantage .tools p {
  font-family: "Instrument Sans", sans-serif;
  font-weight: 400 !important;
  font-size: 16px !important;
  line-height: 24px !important;
  color: #323231 !important;
}

/* Sixth container */
.homepage-datas {
  padding: 0 0 10vh 0;
}
.homepage-datas p {
  font-family: "Instrument Sans", sans-serif;
  font-weight: 400 !important;
  font-size: 16px !important;
  line-height: 28px !important;
  color: #FCFAF7 !important;
}
.homepage-datas h3 {
  font-family: "ITCSouvenir-md";
  font-weight: 300 !important;
  font-size: 36px !important;
  line-height: 150% !important;
  color: #191919 !important;
}
.homepage-datas .sub-title {
  font-family: "Instrument Sans", sans-serif;
  font-weight: 500 !important;
  font-size: 1.25rem !important;
  line-height: 2rem !important;
  color: #323231 !important;
}
.homepage-datas .col {
  border-right: 2px solid #CCDDE3;
}
.homepage-datas .col:last-child {
  border-right: 0px;
}
.homepage-datas .col span {
  font-family: "ITCSouvenir-md";
  font-weight: 300 !important;
  font-size: 54px !important;
  line-height: 48px !important;
  color: #4d899c !important;
}
.homepage-datas .col .sub-title {
  font-family: "Instrument Sans", sans-serif;
  font-weight: 500 !important;
  font-size: 20px !important;
  line-height: 32px !important;
  color: #323231 !important;
}
.homepage-datas .col p {
  font-family: "Instrument Sans", sans-serif;
  font-weight: 400 !important;
  font-size: 16px !important;
  line-height: 28px !important;
  color: #323231 !important;
}

/* Seventh container */
.homepage-exps {
  padding: 10vh 0 10vh 0;
}
@media (max-width: 991.98px) {
  .homepage-exps {
    padding: 4vh 0 6vh 0;
  }
}
.homepage-exps p {
  font-family: "Instrument Sans", sans-serif;
  font-weight: 400 !important;
  font-size: 16px !important;
  line-height: 28px !important;
  color: #323231 !important;
}
.homepage-exps h3 {
  font-family: "ITCSouvenir-md";
  font-weight: 300 !important;
  font-size: 36px !important;
  line-height: 42px !important;
  color: #000 !important;
}
@media (max-width: 767.98px) {
  .homepage-exps h3 {
    font-family: "ITCSouvenir-md";
    font-weight: 300 !important;
    font-size: 24px !important;
    line-height: 150% !important;
    color: #000 !important;
  }
}
.homepage-exps .sub-title {
  font-family: "Instrument Sans", sans-serif;
  font-weight: 600 !important;
  font-size: 16px !important;
  line-height: 24px !important;
  color: #4F756C !important;
  text-transform: uppercase;
}
@media (max-width: 767.98px) {
  .homepage-exps .sub-title {
    font-family: "Instrument Sans", sans-serif;
    font-weight: 600 !important;
    font-size: 14px !important;
    line-height: 150% !important;
    color: #4F756C !important;
  }
}
.homepage-exps .commentaire {
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
  overflow: hidden;
  height: 195px;
}
.homepage-exps .col {
  background-color: rgba(255, 255, 255, 0.01);
  border-radius: 16px;
  border: 1px solid #CAC8C6;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
}
.homepage-exps .col h5 {
  font-family: "ITCSouvenir-md";
  font-weight: 300 !important;
  font-size: 24px !important;
  line-height: 36px !important;
  color: #191919 !important;
}
.homepage-exps .col p {
  font-family: "Instrument Sans", sans-serif;
  font-weight: 400 !important;
  font-size: 20px !important;
  line-height: 32px !important;
  color: #323231 !important;
}
.homepage-exps .col .author {
  font-family: "Instrument Sans", sans-serif;
  font-weight: 500 !important;
  font-size: 16px !important;
  line-height: 24px !important;
  color: #191919 !important;
}
.homepage-exps .col .author-title {
  font-family: "Instrument Sans", sans-serif;
  font-weight: 500 !important;
  font-size: 16px !important;
  line-height: 24px !important;
  color: #979694 !important;
}
.homepage-exps .active {
  background: linear-gradient(129deg, rgba(227, 225, 222, 0.6) 0%, rgba(227, 225, 222, 0) 100%);
  border-radius: 16px;
  border: 1px solid #CAC8C6;
}
.homepage-exps .active p {
  font-family: "Instrument Sans", sans-serif;
  font-weight: 400 !important;
  font-size: 20px !important;
  line-height: 32px !important;
  color: #191919 !important;
}
@media (max-width: 767.98px) {
  .homepage-exps .active p {
    font-family: "Instrument Sans", sans-serif;
    font-weight: 400 !important;
    font-size: 16px !important;
    line-height: 175% !important;
    color: #191919 !important;
  }
}
.homepage-exps .active .author {
  font-family: "Instrument Sans", sans-serif;
  font-weight: 500 !important;
  font-size: 16px !important;
  line-height: 24px !important;
  color: #191919 !important;
}
@media (max-width: 767.98px) {
  .homepage-exps .active .author {
    font-family: "Instrument Sans", sans-serif;
    font-weight: 400 !important;
    font-size: 14px !important;
    line-height: 20px !important;
    color: #191919 !important;
  }
}
.homepage-exps .active .author-title {
  font-family: "Instrument Sans", sans-serif;
  font-weight: 500 !important;
  font-size: 16px !important;
  line-height: 24px !important;
  color: #B0AFAD !important;
}
@media (max-width: 767.98px) {
  .homepage-exps .active .author-title {
    font-family: "Instrument Sans", sans-serif;
    font-weight: 500 !important;
    font-size: 14px !important;
    line-height: 20px !important;
    color: #B0AFAD !important;
  }
}
.homepage-exps .image-box {
  width: 58px;
}
.homepage-exps #arrow_prev, .homepage-exps #arrow_next {
  border-radius: 100px;
  background: #396359;
  width: 32px;
  height: 32px;
  padding: 0.5rem 0.5rem 0.5rem 0.65rem;
  cursor: pointer;
}
.homepage-exps #arrow_prev {
  transform: rotate(-180deg);
}

.homepage-boost {
  padding: 10vh 0 10vh 0;
}
@media (max-width: 991.98px) {
  .homepage-boost {
    padding: 5vh 0 7vh 0;
  }
}
.homepage-boost p {
  font-family: "Instrument Sans", sans-serif;
  font-weight: 400 !important;
  font-size: 16px !important;
  line-height: 28px !important;
  color: #323231 !important;
}
.homepage-boost h3 {
  font-family: "ITCSouvenir-md";
  font-weight: 300 !important;
  font-size: 36px !important;
  line-height: 42px !important;
  color: #000 !important;
}
@media (max-width: 767.98px) {
  .homepage-boost h3 {
    font-family: "ITCSouvenir-md";
    font-weight: 300 !important;
    font-size: 24px !important;
    line-height: 150% !important;
    color: #000 !important;
  }
}
.homepage-boost .sub-title {
  font-family: "Instrument Sans", sans-serif;
  font-weight: 600 !important;
  font-size: 16px !important;
  line-height: 24px !important;
  color: #33788d !important;
  text-transform: uppercase;
}
@media (max-width: 767.98px) {
  .homepage-boost .sub-title {
    font-family: "Instrument Sans", sans-serif;
    font-weight: 600 !important;
    font-size: 14px !important;
    line-height: 150% !important;
    color: #33788d !important;
  }
}
.homepage-boost a {
  font-family: "Instrument Sans", sans-serif;
  font-weight: 500 !important;
  font-size: 18px !important;
  line-height: 28px !important;
  color: #33788d !important;
}
.homepage-boost .row .position-absolute {
  width: 650px;
  z-index: -1;
  left: -200px;
  top: -90px;
}

/* Last container */
.homepage-licence {
  padding: 10vh 0 10vh 0;
  background: url(./../img/bg_colors.png), #E9EEED;
}
@media (max-width: 767.98px) {
  .homepage-licence {
    padding: 4vh 0 5vh 0;
  }
  .homepage-licence button {
    width: 100%;
  }
}
.homepage-licence p {
  font-family: "Instrument Sans", sans-serif;
  font-weight: 400 !important;
  font-size: 16px !important;
  line-height: 28px !important;
  color: #323231 !important;
}
.homepage-licence h3 {
  font-family: "ITCSouvenir-md";
  font-weight: 300 !important;
  font-size: 36px !important;
  line-height: 42px !important;
  color: #000 !important;
}
@media (max-width: 767.98px) {
  .homepage-licence h3 {
    font-family: "ITCSouvenir-md";
    font-weight: 300 !important;
    font-size: 24px !important;
    line-height: 150% !important;
    color: #000 !important;
  }
}
.homepage-licence .sub-title {
  font-family: "ITCSouvenir-md";
  font-weight: 300 !important;
  font-size: 36px !important;
  line-height: 125% !important;
  color: #4F756C !important;
  font-style: italic;
}
@media (max-width: 767.98px) {
  .homepage-licence .sub-title {
    font-family: "ITCSouvenir-md";
    font-weight: 300 !important;
    font-size: 24px !important;
    line-height: 150% !important;
    color: #4F756C !important;
  }
}
.homepage-licence button {
  font-size: 18px;
}

/* Infinity and beyond */
* {
  -webkit-font-smoothing: antialiased;
}

header {
  z-index: 99999;
}

p {
  margin-bottom: 0 !important;
  padding-bottom: 0 !important;
}

body {
  background-color: #E9EEED;
  background-image: url("./../img/bg.png");
}

.navbar-transition {
  transition: margin 0.3s ease;
}

.container {
  padding: 0 20px !important;
}

/* WIP */
.commentaire {
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.fade-in {
  animation: fadeIn 1s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}