/* Infinity and beyond */
* {
  -webkit-font-smoothing: antialiased;
}

header {
  z-index: 9999999999;
  max-width: 100%;
  margin-left: auto;
}

body {
  overflow-x: hidden;
  max-width: 100vw;
  width: 100%;
}

p {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

h1 {
  @include cbro-title(300, 42px, 120%, $cbro-gray-900);
  padding-bottom: 24px;

  span {
    font-style: italic;
    color: $cbro-purple-800;
  }
}

h2 {
  @include cbro-title(300, 36px, 130%, $cbro-black);
}

h3 {
  @include cbro-title(300, 28px, 150%, $cbro-purple-900);
}

.form-control:focus {
  box-shadow: 0 0 0 0.25rem rgba(176, 175, 173, 0.5) !important;
}

.form-select:focus {
  box-shadow: 0 0 0 0.25rem rgba(176, 175, 173, 0.5) !important;
}

//padding
.pt-6 {
  padding-top: 4rem; // 64px
}

.px-8 {
  padding: 0 5rem; // 80px
}

.width-fit-content {
  width: fit-content !important;
}

.width-max-content {
  width: max-content !important;
}