#section_app {
    background: url(../../../img/noise.svg), repeat, #FCFAF7;
    height: 100%;
    padding: 10rem 0 12rem 0;

    @include media-breakpoint-down(lg) {
        padding: 8rem 0 5rem 0;
    }

    @include media-breakpoint-down(md) {
        padding: 7rem 0 5rem 0;
    }

    .nav-app,
    .nav-mobile {
        background: $cbro-snow-50;
        border: 1px solid $cbro-gray-200;
        border-radius: 16px;
        padding: 12px;

        .list-span {
            border-radius: 8px;
            padding: 12px 16px;
            transition: all 0.2s;

            span {
                @include cbro-paragraphe(400, 16px, normal, $cbro-gray-600);
            }

            &.active {
                background-color: rgba(25, 25, 25, 0.04);

                span {
                    @include cbro-paragraphe(500, 16px, normal, $cbro-gray-900);
                }

                svg {
                    path {
                        stroke: $cbro-gray-900;
                    }
                }
            }

            &:hover {
                background-color: rgba(25, 25, 25, 0.04);
                cursor: pointer
            }
        }

        .form-control-search {
            padding: 12px 20px 12px 48px;
            border-radius: 24px;
            border: 1px solid $cbro-gray-200;
            vertical-align: middle;

            @include cbro-paragraphe(400, 14px, 20px, $cbro-gray-700);
            font-family: Instrument Sans;

            &::placeholder {
                @include cbro-paragraphe(400, 14px, 20px, $cbro-gray-300);
            }
        }

        .loupe-search {
            width: 20px;
            top: 50%;
            left: 18px;
            transform: translateY(-50%);
        }
    }

    .illustration {
        height: 200px;
        width: 200px;

        @include media-breakpoint-down(lg) {
            height: 100px;
            width: 100px;
        }

        &_ampoule {
            width: 12%;
        }
    }

    .btn_green {
        @include media-breakpoint-down(sm) {
            width: 100%;
        }
    }

    .btn_transparent {
        @include media-breakpoint-down(sm) {
            width: 100%;
        }
    }

    .line-mobile {
        border-bottom: 1px solid $cbro-gray-200;
    }


    .overflow-x-auto::-webkit-scrollbar {
        display: none;
    }

    .nav-mobile {
        border: none;
        background-color: transparent;

        .list-span {
            border-bottom: 2px solid transparent;
            border-radius: 0;

            span {
                width: max-content;
            }

            &.active {
                border-bottom: 2px solid black;
                background-color: transparent;
            }

            &:hover {
                background-color: transparent;
            }
        }
    }

    a {
        cursor: pointer;
    }

    .img-formations {
        border-radius: 10px;
        object-position: 50%;
        object-fit: cover;
        width: 100%;
    }

    .cards-details {
        padding: 24px;
        height: auto;
        background-color: $cbro-snow-50;

        a,
        button {
            img {
                height: 24px;
                width: 24px;
            }
        }

        .btn_transparent {
            padding: 8px 16px;
        }

        &.nav {
            border-radius: 12px;
            transition: all 0.2s;

            button {
                @include cbro-paragraphe(400, 16px, 160%, $cbro-gray-600);
                background-color: transparent;

                &.active {
                    @include cbro-paragraphe(600, 16px, 160%, $cbro-green-700);

                    &::after {
                        content: "";
                        width: 100%;
                        height: 4px;
                        position: absolute;
                        left: 0;
                        bottom: -1rem;
                        z-index: 2;
                        @include cbro-paragraphe(600, 16px, 160%, $cbro-green-700);
                        border-bottom: 2px solid $cbro-green-700 !important;
                    }
                }
            }

            &:hover {
                background-color: transparent;
            }
        }

        .p-card {
            overflow: hidden;
            white-space: wrap;
            text-overflow: ellipsis;
            height: 125px;
            @include cbro-paragraphe(400, 16px, 160%, $cbro-gray-600);
        }

        .card_body {
            ul {
                li {
                    color: $cbro-gray-600;
                }
            }
        }

        .subsubtitle {
            @include cbro-paragraphe(500, 16px, 20px, $cbro-gray-700);
        }

        .subtext {
            @include cbro-paragraphe(400, 16px, 20px, $cbro-gray-700);
        }

        .container-info_account {
            width: 50%;

            @include media-breakpoint-down(sm) {
                width: 100%;
            }
        }

        .container-info_account-2 {
            width: 50%;

            @include media-breakpoint-down(md) {
                width: 100%;
            }
        }

        .container-info_account-3 {
            width: 15%;

            @include media-breakpoint-down(lg) {
                width: 25%;
            }

            @include media-breakpoint-down(sm) {
                width: 100%;
            }
        }

        .container-info_account-4 {
            width: 100%;
        }

        .form-select {
            padding: 12px 48px 12px 20px;
            background-position: right 1.2rem center !important;
            background-image: url(../../../img/icons/arrow-down_gray.svg);
            background-size: 24px;
        }

        .form-control {
            padding: 12px 20px;
        }

        .form-select,
        .form-control {
            border-radius: 24px;
            border: 1px solid $cbro-gray-200;
            vertical-align: middle;

            @include cbro-paragraphe(400, 14px, 20px, $cbro-gray-700);
            font-family: Instrument Sans;

            &[type='password']::placeholder {
                @include cbro-paragraphe(400, 14px, normal, $cbro-gray-700);
                color: $cbro-gray-300 !important;
                transform: translateY(20%);
            }

            &.gray {
                &::placeholder {
                    @include cbro-paragraphe(400, 14px, normal, $cbro-gray-300);
                }
            }
        }

        .p-dark {
            font-size: 14px !important;
        }
    }

    .container-app {
        .card-app {
            padding: 24px;
            border-radius: 16px;
            border: 1px solid $cbro-gray-200;
            background-color: $cbro-snow-50;

            .btn_transparent {
                font-size: 14px;
            }
        }

        &-info {
            background: $cbro-green-800;
            padding: 20px 28px;
            border-radius: 16px;

            .btn_full_transparent {
                top: 8px;
                right: 14px;

                &:hover {
                    background-color: transparent;
                }
            }
        }

        &__vue {
            .span-filtre {
                @include cbro-paragraphe(400, 14px, 160%, $cbro-gray-600);

                select {
                    font-weight: 600;
                    color: $cbro-gray-600;
                    border: none;
                    background-color: transparent;
                }
            }

            a {
                padding: 6px;

                img {
                    width: 16px;
                    height: 16px;
                }
            }

            .btn_container_vue {
                background-color: $bg_transparent;
                border-radius: 8px;
                padding: 6px;

                .active {
                    background-color: $cbro-green-800;
                    border-radius: 6px;
                }
            }
        }
    }

    .bg-logo {
        &-green {
            background: $cbro-green-50;
            padding: 14px;
            border-radius: 8px;
            height: 65px;
            width: 65px;
        }

        &-red {
            background: $cbro-purple-50;
            padding: 14px;
            border-radius: 8px;
            height: 65px;
            width: 65px;
        }

        &-blue {
            background: $cbro-blue-50;
            padding: 14px;
            border-radius: 8px;
            height: 65px;
            width: 65px;
        }
    }

    .width-max-content {
        @include media-breakpoint-down(sm) {
            width: auto !important;
        }
    }

    .cards-details.table-doc {
        background: $cbro-snow-50;
    }

    .table-documents {
        .table-header {
            @include cbro-paragraphe(600, 13px, normal, $cbro-gray-500);
            border-bottom: 1px solid $cbro-gray-200;

            @include media-breakpoint-down(md) {
                border-bottom: 1px solid transparent;
            }

            .table-cell-header {
                font-weight: 600;

                &:last-child {
                    text-align: end;
                }
            }

        }

        .table-row {
            @include cbro-paragraphe(400, 14px, 160%, $cbro-gray-600);

            .new-documents {
                font-weight: 500 !important;
                color: $cbro-gray-900 !important;

                .cbro-badge-pink {
                    @include media-breakpoint-down(lg) {
                        font-size: 12px !important;
                        padding: 4px 8px;
                    }
                }
            }

            .container-formations {
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow-y: hidden;
            }

            span.doc-date {
                opacity: 0.8;
            }

            &:last-child {
                text-align: end;

                button {
                    background-color: transparent;
                    transition: all 0.2s;
                    border-radius: 100px;

                    &:hover {
                        background-color: rgba(25, 25, 25, 0.05);
                    }
                }
            }

            .img-table {
                background-color: rgba(25, 25, 25, 0.05);
                padding: 9px;
                border-radius: 8px;
            }
        }
    }

    .modal {
        .modal-content {
            .modal-header {
                border-bottom: none;

                .modal-title {
                    img {
                        height: 24px;
                        width: 24px;
                    }

                    span {
                        @include cbro-paragraphe(500, 16px, 24px, $cbro-gray-800);
                        font-style: normal;
                    }
                }
            }

            .modal-body {
                p {
                    border-bottom: 1px solid $cbro-gray-200;

                }
            }

            .modal-footer {
                border-top: none;

                .btn-secondary {
                    background-color: transparent;
                    border: none;
                    @include cbro-paragraphe(500, 14px, 150%, $cbro-black);
                }

                .btn-primary {
                    border-radius: 100px;
                    background-color: #D52A2A;
                    border: none;
                    padding: 8px 16px;
                    @include cbro-paragraphe(500, 14px, 150%, $cbro-white);
                }
            }
        }
    }
}


.notif-dots::after {
    content: "";
    position: absolute;
    bottom: 10px;
    right: 0px;
    width: 6px;
    height: 6px;
    background-color: $cbro-purple-600;
    border-radius: 100px;
}

.list-span .notif-dots::after {
    content: "";
    position: absolute;
    bottom: -2px;
    right: 1px;
    width: 6px;
    height: 6px;
    background-color: $cbro-purple-600;
    border-radius: 100px;
}