#section_app {
    background: url(../../../img/noise.svg), repeat, #FCFAF7;
    height: 100%;
    padding: 10rem 0 12rem 0;

    .nav-app {
        background-color: $cbro-snow-50;
        border: 1px solid $cbro-gray-200;
        border-radius: 16px;
        padding: 12px;

        .list-span {
            border-radius: 8px;
            padding: 12px 16px;
            transition: all 0.2s;

            span {
                @include cbro-paragraphe(400, 16px, normal, $cbro-gray-600);
            }

            &.active {
                background-color: rgba(25, 25, 25, 0.04);

                span {
                    @include cbro-paragraphe(500, 16px, normal, $cbro-gray-900);
                }

                svg {
                    path {
                        stroke: $cbro-gray-900;
                    }
                }
            }

            &:hover {
                background-color: rgba(25, 25, 25, 0.04);
                cursor: pointer
            }
        }
    }

    .illustration {
        height: 200px;
        width: 200px;
    }
}

a {
    cursor: pointer;
}