// Fond de la page connexion
body {
  height: 850px;
  position: relative;
  background: url(../../../img/noise.svg) repeat $cbro-snow-50;
}

.margin-top {
  margin-top: 250px;
}

.bg_img {
  height: 550px;
  background: url(../../../img/noise.svg) repeat $cbro-green-800;

  @include media-breakpoint-down(lg) {
    height: 110%;
  }
}

#connexion_hero {
  margin-top: 12%;

  //Contenu principal (formulaire, création..)
  .container_content {
    @include media-breakpoint-down(lg) {
      margin: -775px 0;
    }
  }

  .gap-5 {
    gap: 15rem !important;

    @include media-breakpoint-down(xxl) {
      gap: 10rem !important;
    }

    @include media-breakpoint-down(xl) {
      gap: 5rem !important;
    }

    @include media-breakpoint-down(lg) {
      gap: 0 !important;
    }
  }
  //Conteneur du formulaire
  .connexion_container {
    background-color: $cbro-snow-50;
    border-radius: 20px;
    box-shadow: 2px 2px 20px 0px rgba(50, 50, 49, 0.12);
    width: 25%;

    @include media-breakpoint-down(lg) {
      width: 75%;
      margin-bottom: 50px;
    }

    p {
      @include cbro-paragraphe(600, 16px, 150%, $cbro-green-700);
      letter-spacing: 0.32px;
      text-transform: uppercase;
    }

    form {
      label {
        @include cbro-paragraphe(500, 16px, 20px, $cbro-gray-700);
      }
    }
  }

  //Conteneur pour la création du compte
  .container_account {
    width: 20%;
    padding-top: 85px;

    @include media-breakpoint-down(xxl) {
      padding-top: 45px;
    }

    @include media-breakpoint-down(lg) {
      width: 75%;
      padding-top: 0;
    }

    p {
      @include cbro-paragraphe(400, 16px, 160%, $cbro-snow-50);
    }

    .btn_green {
      border: 1px solid $cbro-snow-50;
    }

    .evenement {
      @include media-breakpoint-down(lg) {
        display: none;
      }

      .mt-5 {
        margin-top: 140px !important;

        @include media-breakpoint-down(xxl) {
          margin-top: 50px !important;
        }
      }

      p {
        @include cbro-paragraphe(500, 13px, 20px, $cbro-purple-700);
        padding: 8px 16px;
        width: max-content;
      }
    }
  }
}

#forget_mdp {
  background-color: $cbro-snow-50;
  border-radius: 20px;
  box-shadow: 2px 2px 20px 0px rgba(50, 50, 49, 0.12);
  margin-top: 11%;

  .connexion-title_mdp {
    p {
      &:first-child {
        @include cbro-paragraphe(600, 16px, 150%, $cbro-green-700);
        letter-spacing: 0.32px;
        text-transform: uppercase;
      }

      &:last-child {
        @include cbro-paragraphe(400, 16px, 160%, $cbro-gray-800);
        opacity: 0.8;
      }
    }
  }

  form {
    label {
      @include cbro-paragraphe(500, 16px, 20px, $cbro-gray-700);
      margin-bottom: 12px;
    }
  }
}

#send_mail {
  background-color: $cbro-snow-50;
  border-radius: 20px;
  box-shadow: 2px 2px 20px 0px rgba(50, 50, 49, 0.12);

  .p-huge {
    opacity: 0.8;
    @include cbro-paragraphe(400, 18px, 160%, $cbro-gray-800);
  }

  .p-small {
    opacity: 0.8;
    @include cbro-paragraphe(400, 16px, 160%, $cbro-gray-800);
  }
}

#reset_mdp {
  background-color: $cbro-snow-50;
  border-radius: 20px;
  box-shadow: 2px 2px 20px 0px rgba(50, 50, 49, 0.12);
}

footer {
  @include media-breakpoint-down(lg) {
    margin-top: 0 !important;
  }
}
