// Fond de la page connexion
body {
  height: 850px;
  background: url(../../../img/noise.svg) repeat $cbro-snow-50;
}

.min-height {
  height: 700px !important;
}

.bg_img {
  height: 550px;
  background: url(../../../img/noise.svg) repeat $cbro-green-800;

  @include media-breakpoint-down(lg) {
    height: 110%;
  }
}

#connexion_hero .connexion_container,
#forget_mdp,
#send_mail,
#reset_mdp {
  background-color: $cbro-snow-50;
  border-radius: 20px;
  box-shadow: 2px 2px 20px 0px rgba(50, 50, 49, 0.12);
}

#forget_mdp,
#send_mail,
#reset_mdp {
  margin-top: 370px;
  width: 50%;

  @include media-breakpoint-down(lg) {
    margin-top: 0;
    width: 75%;
  }
}

form {
  label {
    @include cbro-paragraphe(500, 16px, 20px, $cbro-gray-700);
  }
}

#connexion_hero {
  margin-top: 350px;

  .container_account,
  .connexion_container {
    width: 25%;

    @include media-breakpoint-down(lg) {
      width: 75%;
    }
  }

  @include media-breakpoint-down(lg) {
    margin-top: 100px;
  }

  //Contenu principal (formulaire, création..
  & {
    gap: 15rem !important;

    @include media-breakpoint-down(xxl) {
      gap: 10rem !important;
    }

    @include media-breakpoint-down(xl) {
      gap: 5rem !important;
    }

    @include media-breakpoint-down(lg) {
      gap: 0 !important;
    }
  }
  //Conteneur du formulaire
  .connexion_container {
    p {
      @include cbro-paragraphe(600, 16px, 150%, $cbro-green-700);
      letter-spacing: 0.32px;
      text-transform: uppercase;
    }
  }

  // Conteneur pour la création du compte
  .container_account {
    p {
      @include cbro-paragraphe(400, 16px, 160%, $cbro-snow-50);
    }

    .btn_green {
      border: 1px solid $cbro-snow-50;
    }

    .evenement {
      .mt-5 {
        margin-top: 140px !important;
      }

      p {
        @include cbro-paragraphe(500, 13px, 20px, $cbro-purple-700);
        padding: 8px 16px;
        width: max-content;
      }
    }
  }
}

// Section Mot de passe oublié
#forget_mdp {
  .connexion-title_mdp {
    p {
      &:first-child {
        @include cbro-paragraphe(600, 16px, 150%, $cbro-green-700);
        letter-spacing: 0.32px;
        text-transform: uppercase;
      }

      &:last-child {
        @include cbro-paragraphe(400, 16px, 160%, $cbro-gray-800);
        opacity: 0.8;
      }
    }
  }
}

// Section email envoyé
#send_mail {
  .p-huge {
    opacity: 0.8;
    @include cbro-paragraphe(400, 18px, 160%, $cbro-gray-800);
  }

  .p-small {
    opacity: 0.8;
    @include cbro-paragraphe(400, 16px, 160%, $cbro-gray-800);
  }
}

.margin-top {
  margin-top: 300px;

  @include media-breakpoint-down(lg) {
    margin-top: 0;
  }
}
