// Fond de la page connexion
#body_hero {
  background: url(../../../img/noise.svg) repeat $cbro-snow-50;
  height: 100%;
  @include media-breakpoint-down(lg) {
    height: 100% !important;
  }

  .img_bg_illustration {
    left: 0;
    top: 0;

    @include media-breakpoint-down(lg) {
      width: 100%;
    }
  }
  form {
    label {
      @include cbro-paragraphe(500, 16px, 20px, $cbro-gray-700);
    }
  }
  .cbro-badge-pink {
    color: $cbro-purple-700 !important;
  }
}

#connexion_hero {
  background: url(../../../img/noise.svg) repeat $cbro-green-800;
  padding: 10rem 0 0rem 0;
  @include media-breakpoint-down(lg) {
    padding: 7rem 0 3rem 0;
  }
  //Conteneur du formulaire
  .connexion_container {
    margin-bottom: -165px;
    z-index: 505;
    position: relative;
    @include media-breakpoint-down(xl) {
      margin-bottom: 0px;
    }
    p {
      @include cbro-paragraphe(600, 16px, 150%, $cbro-green-700);
      letter-spacing: 0.32px;
      text-transform: uppercase;
    }
  }
  // Conteneur pour la création du compte
  .container_account {
    p {
      @include cbro-paragraphe(400, 16px, 160%, $cbro-snow-50);
    }

    .btn_dark_green {
      width: 100%;
      display: flex;
      justify-content: center;
      text-decoration: none;
      @include media-breakpoint-down(xl) {
        border: none;
        border-radius: 0;
        text-align: start;
        padding: 0;
        width: max-content;
        background: none;

        .btn_dark_green:active {
          border-bottom: 1px solid $cbro-snow-50;
        }
      }

      &:active,
      &:hover {
        @include media-breakpoint-down(lg) {
          border-bottom: 1px solid $cbro-snow-50;
        }
      }
    }

    .evenement {
      .mt-5 {
        margin-top: 140px !important;
      }

      p {
        @include cbro-paragraphe(500, 13px, 20px, $cbro-purple-700);
        padding: 8px 16px;
        width: max-content;
      }
    }
  }
}

#next_event {
  height: 300px;
}

.m-bottom {
  margin-bottom: -150px;
  @include media-breakpoint-down(lg) {
    margin-bottom: 0;
  }
}

#connexion_hero .connexion_container,
#forget_mdp,
#send_mail,
#reset_mdp {
  background-color: $cbro-snow-50;
  border-radius: 20px;
  box-shadow: 2px 2px 20px 0px rgba(50, 50, 49, 0.12);
  position: relative;
  z-index: 600;
}

#forget_mdp,
#send_mail,
#reset_mdp {
  width: 50%;
  @include media-breakpoint-down(xl) {
    margin: 0;
    width: 100%;
  }
}

// Section Mot de passe oublié
#forget_mdp {
  .connexion-title_mdp {
    p {
      &:first-child {
        @include cbro-paragraphe(600, 16px, 150%, $cbro-green-700);
        letter-spacing: 0.32px;
        text-transform: uppercase;
      }

      &:last-child {
        @include cbro-paragraphe(400, 16px, 160%, $cbro-gray-800);
        opacity: 0.8;
      }
    }
  }
}

// Section email envoyé
#send_mail {
  .p-huge {
    opacity: 0.8;
    @include cbro-paragraphe(400, 18px, 160%, $cbro-gray-800);
  }

  .p-small {
    opacity: 0.8;
    @include cbro-paragraphe(400, 16px, 160%, $cbro-gray-800);
  }
}
