// Les lignes de base en orthophonie
#details-hero {
   padding: 10rem 0 0 0;
   background: url(./../img/noise.svg), rgba(231, 221, 241, 0.45);
   @include media-breakpoint-down(lg){
      padding: 5rem 0 0 0;
   }
   .container .p-dark {
      @include media-breakpoint-up(lg) {
         width: 60%;         
      }
   }
   li {
      @include cbro-title(300, 18px, 150%, $cbro-gray-600);
      list-style: none;
   }
   .position-absolute {
      bottom: -295px;
      right: -31vw;
      width: 80%;
   }
   .mobile {
      &-info {
         ul {
            padding: 0;
         }
         
         li {
            font-family: Instrument Sans;
            @include media-breakpoint-down(lg) {
               @include cbro-paragraphe(400, 16px, 150%, $cbro-gray-600);               
            }
         }   
            
         span {
            font-size: 24px;
            color: $cbro-purple-700;
         }
      }

      &-price {
         p:last-child {
            font-family: Instrument Sans;
            @include cbro-paragraphe(500, 18px, 133%, #000);
         }      
      }

      .btn_dark-purple {
         width: 100%;
         position: relative;
         z-index: 999;
      }
   }
}

// Les lignes de base en orthophonie
#details-hero_b {
   padding: 10rem 0 0 0;
   background: url(./../img/noise.svg), rgba(234, 239, 226, 0.45);
   @include media-breakpoint-down(lg){
      padding: 5rem 0 0 0;
   }
   .container .p-dark {
      @include media-breakpoint-up(lg) {
         width: 60%;         
      }
   }
   li {
      @include cbro-title(300, 18px, 150%, $cbro-gray-600);
      list-style: none;
   }
   .position-absolute {
      bottom: -295px;
      right: -31vw;
      width: 80%;
   }
   .mobile {
      &-info {
         ul {
            padding: 0;
         }
         
         li {
            font-family: Instrument Sans;
            @include media-breakpoint-down(lg) {
               @include cbro-paragraphe(400, 16px, 150%, $cbro-gray-600);               
            }
         }   
            
         span {
            font-size: 24px;
            color: $cbro-purple-700;
         }
      }

      &-price {
         p:last-child {
            font-family: Instrument Sans;
            @include cbro-paragraphe(500, 18px, 133%, #000);
         }      
      }

      .btn_dark-purple {
         width: 100%;
         position: relative;
         z-index: 999;
      }
   }
}

// À l’issu de cette formation...
#details-formation {
   background: url(./../img/noise.svg), $cbro-snow-50;
   p {
      @include cbro-paragraphe(400, 18px, 160%, $cbro-gray-800);
   }
   .objectif-details {
      border-radius: 12px;
      background: rgba(230, 228, 222, 0.50);
      backdrop-filter: blur(6px);
      height: 100%;
      p {
         @include cbro-paragraphe(400, 16px, 150%, $cbro-gray-800);
      }
   }

   .col {
      margin-top: -280px;
   }
   .card-gradiant {
      border-radius: 16px;
      background: linear-gradient(148deg, rgba(227, 225, 222, 0.60) -16.18%, rgba(227, 225, 222, 0.00) 97.43%);
   }
   .scroll-card {
      border-radius: 20px;
      background: $cbro-snow-50;
      box-shadow: 2px 2px 20px 0px rgba(50, 50, 49, 0.12);
      position: sticky;
      top: 135px;
   }
   ul {
      padding-left: 22px;
      li {
         @include cbro-paragraphe(400, 16px, 150%, $cbro-gray-600);
      }
   }
}

// Ces formations pourraient vous intéresser
#cards-border {
   background: url(./../img/noise.svg), $cbro-snow-50;
   padding: 108px;

   @include media-breakpoint-down(lg) {
      padding: 48px 0 40px 0;

      .container {
         display: block !important;

         a {
            margin: 32px 0;
         }
      }

      .container {
         .row {
            margin-top: 16px;
            display: block;
         }
      }
   }

   @include cbro-paragraphe(400, 16px, 160%, $cbro-gray-600);

   a {
      color: $cbro-gray-600;
   }

   .cards-details {
      border: 1px solid $cbro-gray-200;
      border-radius: $cbro-border-radius-16;
      height: 100%;

      ul {
         font-family: 'ITCSouvenir-md';
      }

      &__price {
         @include cbro-paragraphe(500, 18px, 150%, $cbro-gray-900);
      }
   }
}

#test {
   position: relative;
   width: fit-content;
   :after {
      content: attr(data-number);
      background: red;
      border-radius: 999px;
      position: absolute;
      top: 0;
      width: 23px;
      height: 19px;
      right: -14px;
      font-size: 12px;
      display: flex;
      align-items: center;
      justify-content: center;
   }
}