#faq {
  background: url(../../../img/noise.svg) repeat $cbro-snow-50;
  height: 100%;
  padding: 10rem 0 108px 0;

  @include media-breakpoint-down(lg) {
    padding-bottom: 48px;
  }

  .container_faq {
    background: rgba(230, 228, 222, 0.5);
    border-radius: 20px;

    .faq_title {
      .span-faq {
        @include cbro-paragraphe(600, 16px, 150%, $cbro-blue-700);
        text-transform: uppercase;
        letter-spacing: 0.32px;
      }

      .h2-blue {
        font-style: italic;
        color: $cbro-blue-700;
      }
    }

    .btn_container {
      button {
        border: none;
        background-color: $cbro-snow-50;
        padding: 4px 16px;
        border-radius: 100px;
        @include cbro-paragraphe(400, 18px, 160%, $cbro-gray-900);

        @include media-breakpoint-down(md) {
          width: 100%;
        }

        @include media-breakpoint-down(sm) {
          padding: 4px 8px;
          @include cbro-paragraphe(400, 14px, 160%, $cbro-gray-900);
        }
      }

      gap: 24px;

      @include media-breakpoint-down(md) {
        gap: 10px;
      }

      .btn_selected {
        color: $cbro-blue-50 !important;
        background-color: $cbro-blue-600;
      }

      border-bottom: 1px solid $cbro-gray-200;

      @include media-breakpoint-down(md) {
        border-bottom: none;
      }
    }
  }
}
