#basket {
  padding: 10rem 0 8rem 0;
  background: url(../../../img/noise.svg), repeat, $cbro-snow-50;
  .cards-details {
    @include media-breakpoint-down(lg) {
      border: none;
    }
    &:hover {
      background-color: $cbro-snow-50 !important;
    }
  }
  .cbro-badge-pink {
    @include cbro-paragraphe(400, 14px, 150%, $cbro-purple-700);
  }
  .form-shop {
    input {
      border-radius: 24px;
    }
    .subsubtitle {
      @include cbro-paragraphe(500, 16px, 20px, $cbro-gray-700);
    }
  }
  .shop-check {
    @include cbro-paragraphe(500, 18px, 24px, $cbro-gray-800);
  }
  .breadcrumb {
    img {
      transform: rotate(-180deg);
    }
    .element {
      @include cbro-paragraphe(400, 14px, 150%, $cbro-gray-600);
      &_active {
        @include cbro-paragraphe(500, 14px, 150%, $cbro-gray-800);
      }
    }
  }
  .container {
    background: $cbro-snow-50;
  }
  .title-para {
    @include cbro-paragraphe(500, 20px, 32px, $cbro-gray-800);
  }
  .btn_purple {
    margin-top: 30px;
  }
  .shop-area {
    input {
      border-radius: 24px;
    }
    ::placeholder {
      @include cbro-paragraphe(400, 14px, 24px, $cbro-gray-600);
    }
  }
  input[type='number']::-webkit-inner-spin-button, 
  input[type='number']::-webkit-outer-spin-button { 
      -webkit-appearance: none;
      margin: 0;
  }
  .shop-code {
    @include cbro-paragraphe(500, 16px, 20px, $cbro-gray-700);
  }
  .price-annon {
    @include cbro-paragraphe(400, 16px, 24px, $cbro-gray-600);
    &_bold {
      @include cbro-paragraphe(500, 16px, 24px, $cbro-gray-800);
    }
  }
  hr {
    color: $cbro-gray-100;
  }
  @include media-breakpoint-down(lg) {
    padding: 7rem 0 3rem 0;
  }
  .shop-desc {
    @include cbro-paragraphe(400, 12px, 20px, $cbro-gray-400);
  }
  .input-group {
    height: 32px;
    span {
      font-size: 20px;
      width: 32px;
      padding: 8px;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px solid $cbro-gray-200;
      background: $border;
    }
    input {
      padding: 3px;
      width: 32px;
      text-align: center;
      border: 1px solid $cbro-gray-200;
      background: transparent;
    }
  }
  .basket-img {
    border-radius: 8px;
    width: 64px;
    height: 64px;
  }
  .basket-price {
    @include cbro-paragraphe(400, 16px, 24px, $cbro-gray-800);
  }
  .basket-paragraph {
    @include cbro-paragraphe(400, 14px, 20px, $cbro-gray-600);
    width: 90%;
    @include media-breakpoint-down(lg) {
      width: 100%;
    }
  }
  .paiement-title {
    @include cbro-paragraphe(500, 20px, 32px, $cbro-gray-800);
  }
}