// @badge
// $color : string
@mixin cbro-badge($color) {
   @include cbro-paragraphe(500, 14px, 150%, $cbro-gray-900);
   background: $color;
   border-radius: 99px;
   padding: 4px 12px;
   width: fit-content;
}

.cbro-badge {
   &-green {
      @include cbro-badge($cbro-green-200);
   }
   &-purple {
      @include cbro-badge($cbro-purple-200);
   }
   &-blue {
      @include cbro-badge($cbro-blue-200);
   }
}