.btn {
   // Green button
   &_green {
      @include cbro-button(500, 16px, $cbro-green-50, $cbro-green-700, 1px , transparent);
      transition: 0.25s all ease-in-out;
      
      &:hover {
         filter: brightness(90%);
      }
   }
   // Transparent button with border
   &_transparent {
      @include cbro-button(500, 16px, $cbro-gray-900, transparent, 1px , $cbro-gray-900);
      transition: 0.25s all ease-in-out; 
   
      &:hover {
         background: #dfdede44;
      }
   }
   // Transparent button without border
   &_full_transparent {
      @include cbro-button(500, 16px, $cbro-gray-900, transparent, 0px , $cbro-gray-900);
      transition: 0.25s all ease-in-out;
      
      &:hover {
         background-color: rgba(25, 25, 25, 0.08);
      }
   }
   // Full white button
   &_white {
      @include cbro-button(500, 16px, $cbro-gray-900, $cbro-white, 0px , $cbro-gray-900);
      transition: 0.25s all ease-in-out;
      
      &:hover {
         background-color: rgba(255, 255, 255, 0.7);
      }
   }
   // Full purple button
   &_purple {
      @include cbro-button(500, 16px, $cbro-gray-900, $cbro-white, 0px , $cbro-purple-50);
      transition: 0.25s all ease-in-out;
      
      &:hover {
         background-color: rgba(255, 255, 255, 0.7);
      }
   }
   // Full purple button
   &_dark-purple {
      @include cbro-button(500, 16px, $cbro-white, $cbro-purple-700, 0px , $cbro-purple-700);
      transition: 0.25s all ease-in-out;
      
      &:hover {
         opacity: 0.8;
      }
   }
}