.cta {
  margin-top: 64px;

  @include media-breakpoint-down(lg) {
    margin-top: 38px;
  }

  @include cbro-paragraphe(400, 18px, 160%, $cbro-opacity-50);
  border-radius: 20px;
  padding: 40px;

  @include media-breakpoint-down(md) {
    padding: 30px;
  }

  overflow: hidden;

  .cta_title {
    width: 75%;

    @include media-breakpoint-down(lg) {
      width: 100%;
    }
  }

  button {
    @include media-breakpoint-down(sm) {
      width: 100%;
    }
  }

  &-blue {
    background-color: $cbro-blue-800;
  }

  &-green {
    background-color: $cbro-green-800;
  }

  img {
    top: 0;
    right: 0;
  }
}
