.form-connexion .form-control {
  border-radius: 100px !important;
  border: 1px solid $cbro-gray-200 !important;
  background: #fff !important;
  height: 48px;
  width: 100%;
  padding: 0 20px !important;
  outline: none;

  &::placeholder {
    @include cbro-paragraphe(400, 14px, normal, $cbro-gray-300);
  }
}

.input_checkbox {
  display: none;

  & + label {
    cursor: pointer;
    display: grid;
    grid-template-columns: 16px 1fr;
    gap: 7px;
    grid-template-rows: 1fr;
    @include cbro-paragraphe(400, 14px, 150%, $cbro-gray-500);
    span {
      border: none;
      height: 16px;
      width: 16px;
      border: 1px solid $cbro-green-800;
      border-radius: 4px;

      margin-top: 2px;

      img {
        height: 12px;
        width: 12px;
        display: none;
      }
    }
  }

  &:checked + label {
    span {
      background-color: $cbro-green-800;

      img {
        display: inline-block;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }
}
