// @paragraphe
// $font-weight : int
// $font-size : int
// $line-height : int
// $color : string
@mixin cbro-paragraphe($font-weight, $font-size, $line-height, $color) {
   font-family: 'Instrument Sans', sans-serif;
   font-weight: $font-weight !important;
   font-size: $font-size !important;
   line-height: $line-height !important;
   color: $color !important;
}

// @title
// $font-weight : int
// $font-size : int
// $line-height : int
// $color : string
@mixin cbro-title($font-weight, $font-size, $line-height, $color) {
   font-family: 'ITCSouvenir-md';
   font-weight: $font-weight !important;
   font-size: $font-size !important;
   line-height: $line-height !important;
   color: $color !important;
}

// @button
// $font-weight : int
// $font-size : int
// $color : string
// $bg-color : string
// $border-width : int
// $border-color : string
@mixin cbro-button($font-weight, $font-size, $color, $bg-color, $border-width , $border-color) {
   font-family: 'Instrument Sans';
   font-weight: $font-weight;
   font-size: $font-size;
   line-height: 150%;
   color: $color;
   background: $bg-color;
   border-radius: 100px;
   border: $border-width solid $border-color;
   padding: 12px 22px;
}