.toast-container {
  transform: translateX(400px);
  z-index: 99999999999 !important;

  .toast {
    background-color: white;
    --bs-toast-border-color: none;

    .toast-header {
      border: none;
      padding-bottom: 0;

      p {
        @include cbro-paragraphe(500, 15px, 20px, $cbro-toasts-green);
      }

      .btn-close {
        height: 20px;
        width: 20px;
      }
    }

    .toast-body {
      padding-top: 0px;
      @include cbro-paragraphe(400, 14px, 20px, $cbro-gray-600);
    }
  }
}
